<div class="container-fluid">
  <form action="/post/create" method="post" class="register-form" enctype="multipart/form-data">
    <h2>Submit a Recipe</h2>

    <div class="row">
      <div class="col-md-4 col-sm-4 col-lg-4">
        <label>Title</label>
        <input name="post_title" style="width: 40em;" class="form-control" type="text">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-lg-4">
        <label>Upload Image</label>
        <input type="file" style="background-color: transparent;" name="image" style="width: 40em;">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-lg-4">
        <label>Description</label>
        <textarea class="form-control" name="post_description" style="width: 40em; height: 10em"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-lg-4">
        <label>Category</label>
        <select name="post_category" class="form-control" style="width: 40em;">
          <option value=""></option>
          <option value="oven">Oven</option>
          <option value="no_bake">No Bake</option>
          <option value="bbq">Bbq</option>
          <option value="slow_cook">Slow Cooker</option>
        </select>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
        <input type="submit" class="btn btn-default " value="Submit Post">
      </div>
    </div>
  </form>
</div>
