<!DOCTYPE html>
<html>
<head>
  <title>Cooker Up</title>
  <script src="../bower_components/webcomponentsjs/webcomponents.js"></script>
  <link rel="stylesheet" type="text/css" href="../assets/styles/main.css">
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  <link href="../bower_components/iron-accordions/iron-accordions.html" rel="import">
</head>
<body>
<header>
  <div class="menubar">
  </div>
</header>


<% _.each(posts, function(post) {%>
<div style="padding-left: 20%; padding-right: 20%">
  <iron-accordions class="item">
    <iron-accordion>
      <!-- This thing gonna be clicked -->
      <h2 header style="text-align: center"><%= post.post_title%></h2>
      <p><%=post.post_description%></p>
      <p><%=post.post_category%></p>
      <!-- This thing below is hidden -->
      <h3>Ingredients</h3>
      <table border="1">
        <tr>
          <th>Ingredient</th>
          <th>Amount</th>
        </tr>
        <tr>
          <td>This</td>
          <td>1 Cup</td>
        </tr>
        <tr>
          <td>This</td>
          <td>1 tsp</td>
        </tr>
      </table>
      <h3>Instructions</h3>
      <p>
        Do a bunch of things to make some delcious food,Do a bunch of things to make some delcious food,
        Do a bunch of things to make some delcious food,Do a bunch of things to make some delcious food
        Do a bunch of things to make some delcious food,Do a bunch of things to make some delcious food
        Do a bunch of things to make some delcious food,Do a bunch of things to make some delcious food
      </p>
    </iron-accordion>
    <div class="break"></div>
  </iron-accordions>
</div>
<% }); %>
<footer></footer>
</body>
</html>
